* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Inter", sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
/* header */
.header {
  background-color: black;
}
.header-image {
  width: 40px;
  height: 48px;
  fill: #717171;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32.5px 0;
  height: 113px;
}
.menu {
  display: flex;
  gap: 30px;
}
.menu-item a {
  color: #717171;
  white-space: nowrap;
}
.header-link {
  font-weight: 400;
  font-size: 24px;
  color: #717171;
  white-space: nowrap;
}
.menu-item {
  font-weight: 400;
  font-size: 24px;
}
/* hero */
.hero {
  padding: 71px 0 40px 0;
  background: #f5f5f7;
}
.hero-title {
  font-weight: 700;
  font-size: 64px;
  color: #490e84;
  white-space: nowrap;
  text-align: center;
  margin-bottom: 40px;
}
.hero-image {
  display: block;
  margin: 0 auto 25px auto;
  max-width: 937px;
  height: auto;
}
.hero-button {
  display: flex;
  color: #fff;
  font-weight: 700;
  font-size: 24px;
  justify-content: center;
  align-items: center;
  background-color: #490e84;
  border-radius: 30px;
  width: 350px;
  height: 70px;
  margin: 0 auto;
}
/* news */
.news {
  padding: 87px 0 150px 0;
}
.news-container {
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
}
.news-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #717171;
}
.news-ulist {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1100px;
  width: 100%;
}
.news-list {
  display: flex;
  max-width: 551px;
  width: 100%;
  flex-direction: column;
  gap: 30px;
}
.paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #0a0a0a;
  max-width: 535px;
}
.paragraph-end {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  color: #0a0a0a;
}
/* color */
.color {
  padding: 0 0 150px 0;
}
.color-title {
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #717171;
  margin-bottom: 50px;
}
.color-list {
  display: flex;
  flex-wrap: nowrap;
  column-gap: 80px;
}
.color-card {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  border-radius: 30px;
  border: #717171 1px solid;
}
.color-image-silver,
.color-image-purple,
.color-image-gold,
.color-image-black {
  width: 100%;
  display: block;
  transition: transform 0.3s ease;
  border-radius: 30px;
}
.color-title-silver,
.color-title-purple,
.color-title-gold,
.color-title-black {
  font-weight: 700;
  font-size: 20px;
  line-height: 130%;
  text-align: center;
  color: #0a0a0a;
}
.color-paragraph {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #0a0a0a;
  text-align: center;
}
.color-label {
  position: absolute;
  bottom: -120px;
  left: 0;
  width: 100%;
  background: #717171;
  text-align: center;
  padding: 20px 0;
  transition: bottom 0.3s ease;
}
.color-card:hover .color-label {
  bottom: 0px;
}
/* order */
.order-container {
  display: flex;
  background: #574b63;
  justify-content: space-between;
  align-items: center;
}
.order-text-block {
  flex: auto;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.order-title {
  font-weight: 700;
  font-size: 32px;
  color: #ffffff;
  margin-bottom: 72px;
}
.order-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.order-label::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #717171;
}
.order-input {
  max-width: 332px;
  width: 100%;
  font-size: 16px;
  padding: 0 0 10px 0;
  border: none;
  border-bottom: 1px solid #ffffff;
  outline: none;
  background-color: transparent;
  opacity: 0.5;
  color: #ffffff;
}
.order-note {
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  opacity: 0.5;
  color: #ffffff;
}
.order-image-block {
  flex: 0 0 auto;
}
.order-image {
  display: block;
}
.order-button {
  color: #490e84;
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  width: 240px;
  height: 50px;
  background-color: #ffffff;
}
/* footer */
.footer {
  background-color: black;
  padding: 40px 0;
}
.footer-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-cookies {
  height: 100%;
  max-height: 18px;
  text-align: center;
  width: 100%;
  max-width: 218px;
  white-space: nowrap;
  font-weight: 400;
  font-size: 14px;
  line-height: 130%;
  color: #717171;
}
.footer-image {
  width: 40px;
  height: 48px;
  fill: #717171;
}
.footer-link {
  width: 235px;
  height: 29px;
  font-weight: 400;
  font-size: 24px;
  color: #717171;
}
